:root {
    --background-color-light: #809A2F;
    --text-color-light: #000000;
    --background-color-dark: #000;
    --text-color-dark: #ffffff;
  }
  
  body.light-theme {
    background-color: var(--background-color-light);
    background-image: url(https://static.vecteezy.com/system/resources/previews/009/880/565/original/spring-time-sunny-day-summer-landscape-in-village-with-green-field-cloud-and-blue-sky-background-rural-countryside-with-mountain-grassland-sunlight-in-morning-nature-scenery-cartoon-background-vector.jpg);
    color: var(--text-color-light);
    background-repeat: no-repeat;
    
    
    
  }
  
  body.dark-theme {
    background-color: var(--background-color-dark);
    background-image: url(https://wallpapercave.com/wp/wp6308233.jpg);
    color: var(--text-color-dark);
    background-repeat: no-repeat;
  }

 




  